
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5673:5672"
      - "15673:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "${RABBITMQ_USER:-guest}"
      RABBITMQ_DEFAULT_PASS: "${RABBITMQ_PASS:-guest}"

  redis:
    image: redis:7-alpine
    ports:
      - "6380:6379"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "${POSTGRES_HOST_PORT:-5433}:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  push-service:
    build: .
    ports:
      - "${PORT}:4001"
    environment:
      - HOST=${HOST}
      - NODE_ENV=${NODE_ENV}
      - PORT=${PORT}
      - RABBIT_URL=${RABBIT_URL}
      - RABBIT_EXCHANGE=${RABBIT_EXCHANGE}
      - PUSH_QUEUE=${PUSH_QUEUE}
      - FAILED_QUEUE=${FAILED_QUEUE}
      - POSTGRES_URL=${DATABASE_URL}
      - REDIS_URL=${REDIS_URL}
      - FCM_SERVICE_ACCOUNT_PATH=${FCM_SERVICE_ACCOUNT_PATH}
      - MAX_RETRIES=${MAX_RETRIES}
      - FIREBASE_PROJECT_ID=${FIREBASE_PROJECT_ID}
      - FIREBASE_PRIVATE_KEY=${FIREBASE_PRIVATE_KEY}
      - FIREBASE_CLIENT_EMAIL=${FIREBASE_CLIENT_EMAIL}

    volumes:
      - ./secrets:/app/secrets:ro
      - ./logs:/app/logs
    depends_on:
      - rabbitmq
      - redis
      - postgres
    healthcheck:
      test: ["CMD", "curl", "--fail", "http://localhost:${PORT}/health"]
      interval: 10s
      timeout: 5s
      retries: 5


volumes:
  pg_data:
